		<div id="footer-bottom">
			<div class="container">
				<p>&copy; Gabriel Santamaria - 2019</p>
			</div>
		</div>
		<!-- JQuery, Popper and Bootstrap JS imports -->
		<script src="{{ site.url }}/assets/js/jquery-3.3.1.min.js"></script>
		<script src="{{ site.url }}/assets/js/popper.min.js"></script>
		<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
		<!-- Custom JS import -->
		<script src="{{ site.url }}/assets/js/gabyfle.js"></script>
	</body>
</html>