<!DOCTYPE html>
<html lang="{{ site.language }}">
	<head>
		<title>{{ site.title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="author" content="Gabriel 'Gabyfle' Santamaria" />
        <meta name="generator" content="Gabyfle - Made by Gabyfle" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Custom CSS import -->
		<link href="{{ site.url }}/assets/css/gabyfle.css" rel="stylesheet">
	</head>
	<body>
	<nav id="connect" class="navbar navbar-expand-lg navbar-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="container">
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav mr-auto">
						<span class="navbar-text">Connecté à &nbsp;</span>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle btn btn-outline-warning" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-user-astronaut"></i> 
                                {% if connected %}
                                    {{ user.personaname }}
                                {% else %}
                                    Visiteur
                                {% endif %}
							</a>
							<div class="dropdown-menu" aria-labelledby="userDropdown">
                                {% if connected %}
                                <a class="dropdown-item" href="/logout" data-toggle="modal"><i class="fas fa-power-off"></i> Déconnexion</a>								
                                {% else %}
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#connectionModal"><i class="fas fa-plug"></i> Connexion</a>
                                {% endif %}
                            </div>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle btn btn-outline-info" href="#" id="moreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-infinity"></i> More
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreDropdown">
								<a class="dropdown-item" href="#"><i class="fas fa-compress-arrows-alt"></i> Minifier (coming soon)</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="header" class="jumbotron jumbotron-fluid">
			<div class="container">
				<div id="header-animate">
					<h1 id="big-title" class="display-4 code-purple">Gabriel Santamaria</h1>
					<p id="description" class="lead">Le site web d'un passionné <small>(un de plus)</small> de pixels, de hiéroglyphes, et de bulles d'air</p>
				</div>
				<div class="container">
					<div class="row">
						<div class="social-links">
							<a href="https://github.com/Gabyfle" target="_blank">
								<p>Github</p>
								<i class="fab fa-github"></i>
							</a>
						</div>
						<div class="social-links">
							<a href="https://steamcommunity.com/id/EpicGaby" target="_blank">
								<p>Steam</p>
								<i class="fab fa-steam"></i>
							</a>
						</div>
						<div class="social-links">
							<a href="https://twitter.com/gabyfle" target="_blank">
								<p>Twitter</p>
								<i class="fab fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- Connection modal -->
        <div class="modal fade" id="connectionModal" tabindex="-1" role="dialog" aria-labelledby="connectionModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="connectionModalLabel">Connexion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Se connecter avec :</h6>
                            <a class="btn btn-secondary btn-steam" href="/login"><i class="fab fa-steam"></i> Steam</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Fermer</button>
                    </div>
                </div>
            </div>
		</div>