{% include 'includes/header.twig' %}
<div class="container">
    <div id="error">
        <div class="row">
            <div class="col-6 offset-3">
                <h1>404</h1>
                <p>We can't find the page you requested. You can return to the <a href="/home">Home page</a></p>
            </div>
        </div>
    </div>
</div>
{% include 'includes/footer.twig' %}