@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300');

/*
 *  BOOTSTRAP RESETS
 *
 */
.jumbotron{
    background-color: rgb(24, 33, 30);
}


body{
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inconsolata', monospace;
}
#connect{
    background-color: rgb(21, 29, 26);
    position: absolute;
    top: 0px;

    width: 100%;
}
#connect .btn-group{
    padding: 5px;
    text-align: right;
}
#signedas {
    color: rgb(110, 110, 110) !important;
}
#big-title{
    color: #ac80ff;
}
p{
    font-family: 'Open Sans', sans-serif;
}

#header{
    color: #FFFFFF;
}
#stats{
    background-color: #2d3532;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 5px;
}
#stats p{
    font-family: 'Inconsolata', monospace;
}
#stats div{
    margin-left: 25px;
}
#stats h3{
    display: inline;
}
#marge{
    margin: 1em;
}
#languages{
    line-height: 15px;
    margin: 0px;
    padding: 0px;
}
#repos{
    display: inline;
}
.section{
    margin-top: 50px;
    margin-bottom: 50px;
}
#hiddenBracket{
    visibility: hidden;
}

.number{
    display: inline;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #ac80ff; 
}
.social-link{
    font-size: 20px;
    margin-left: 35px;
    line-height: 13px;
}

#footer-bottom{
    color: #FFFFFF;
    background-color: rgb(21, 29, 26);
    padding-top: 15px;
    padding-bottom: 10px;
}
#footer-bottom p{
    font-family: 'Inconsolata', monospace;
}